/**
*  Author:airenLiao
*  Blog: http://www.w3cplus.com
*/
body,ul,ol,dd{
    margin:0;
    padding:0;
    font-size: 62.5%;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
ol, ul {
    list-style: none outside none;
}
article, aside, dialog, figure, footer, header, nav, section {
    display:block;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.bg-search {
    width: 30px; height: 30px;
    background: url("../images/sprite/item-sprites.png") -1px -1px;
}

.bg-aim {
    width: 30px; height: 30px;
    background: url("../images/sprite/item-sprites.png") -33px -1px;
}

.bg-add {
    width: 30px; height: 30px;
    background: url("../images/sprite/item-sprites.png") -1px -33px;
}

.bg-knife {
    width: 30px; height: 30px;
    background: url("../images/sprite/item-sprites.png") -33px -33px no-repeat;
    /*background-size: 50px 50px;*/

}

.bg-close {
    width: 36px; height: 36px;
    background: url("../images/sprite/head-sprites.png") -0 -52px;
    position: absolute;
    right: 32px;
    top: 17px;
    /*float: right;*/
    /*margin-top: 2px;*/
}

.bg-list {
    width: 39px; height: 40px;
    background: url("../images/sprite/head-sprites.png") -52px -0;
    position: absolute;
    left: 32px;
    top: 15px;
    /*float: left;*/
    /*vertical-align: middle;*/
}

.bg-play {
    width: 52px; height: 52px;
    background: url("../images/sprite/head-sprites.png") -0 -0;
    position: absolute;
    top: 9px;
    right: 24px;

    /*float: right;*/
}
/*------------------------------------------------head-----------------------------------------------------------------*/
body{
    background-color: #2ABDE0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
div{
    position: relative;
}
.one{
    background-color: #2ABDE0;
    height: 70px;
    line-height: 70px;
    /*padding: 1rem 2.7rem 1rem 2.7rem;*/
}
div.one h1{
    display: inline-block;
    margin: 0 !important;
    color: #ffffff;
    vertical-align: middle;
    font-size: 2.8rem;
}
button{
    border: none !important;
    background-color: #2ABDE0;
}
.tow{
    background-color: #B9E9F5;
    /*padding: 1rem 2rem 1rem 2rem;*/
    height: 70px;
    line-height: 70px;
}
div.tow p{
    display: inline-block;
    margin: 0 !important;
    /*vertical-align: middle;*/
    font-size: 1.8rem;
    padding-left: 3rem;
}
header span{
    color: #B9E9F5;
    top: -4.6px !important;
    left: 35px;
    font-size: 2rem;
}
p.color{
    color: #ffffff;
    position: relative;
    left: 55px;
    font-size: 1.7rem;
}
/*---------------------------------------------------main--------------------------------------------------------------*/
main{
    position: relative;
    margin-top: 200px;
    margin-bottom: 170px;

    /*left: 0;*/
    /*right: 0;*/
}
/*main div.col-xs-2{*/
    /*width: 108px;*/
    /*height: 108px;*/
    /*!*padding: 20%;*!*/
    /*border: solid 4px #ffffff;*/
/*}*/
.box{
    display: flex;
    flex-flow: row;
    align-items: stretch;
    justify-content: space-around;
    margin-bottom: 48px;
    /*justify-content: space-between;*/
    /*justify-content: space-around;*/
}
.item{
    border: solid 4px #ffffff;
    display: inline-block;
    width: 140px;
    /*flex: 1 0 10px;*/
    height: 140px;
}

.name{
    background-color: #F5C97C;
    height:105.6px;;
    line-height:105.6px;
    font-size: 2rem;
}
.number{
    background-color: #84B09B;
    color: #ffffff;
    height: 26.4px;
    line-height: 26.4px;
    font-size: 1.7rem;
}
main ul{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top:145px;
    margin: 0 !important;
    /*z-index: 2;*/
}

@media screen and (max-width: 500px) {
    .box{
        display: flex;
        flex-flow: row;
        align-items: stretch;
        justify-content: space-around;
        margin-bottom: 48px;
        /*justify-content: space-between;*/
        /*justify-content: space-around;*/
    }
    .item{
        border: solid 1px #ffffff;
        display: inline-block;
        width: 80px;
        /*flex: 1 0 10px;*/
        height: 80px;
        position: relative;
    }

    .name{
        /*background-color: #F5C97C;*/
        height: 30.4px;
        line-height: 30.4px;
        font-size: 1rem;
    }
    .number{
        /*background-color: #84B09B;*/
        color: #ffffff;
        height: 7.6px;
        line-height: 7.6px;
        font-size: 0.7rem;
    }
    main ul{
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top:14.5px;
        margin: 0 !important;
        width: 20%;
        /*z-index: 2;*/
    }
}
div.item:hover ul{
    display: block;
    /*z-index: 2;*/
}
/*-----------------------------------------------------foot-------------------------------------------------------------------*/
footer{
    background-color: #2ABDE0;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    padding: 2rem;
}
footer button{
    margin: 0 auto;
    background-color: #FBB435 !important;
    width: 80%;
    /*height: 1rem;*/
    /*line-height: 1rem;*/
}
footer h1{
    color: #ffffff;
    font-size: 2.8rem;
    margin-top: 10px !important;
}
